.easy-language-switcher-icon:before {
  background-image: url(./gfx/easy-language-icon.png);
  background-size: cover;
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
}

.easy-language-switcher-icon.easy-language-switcher-icon-de_de:before {
	background-image: url(./gfx/de.svg);
	height: 18px;
}
