.phpunit.result.cache
/.idea
*.zip
languages/*.json
/app/Dependencies/
/build/languages/
/build/languages/.gitkeep
/build/languages/index.php
/build/build.properties
/vendor/
/blocks/*/build/
/legacy-classes/Divi/build/
