/.idea
*.zip
languages/*.json
/build/languages/
/build/languages/.gitkeep
/build/languages/index.php
/build/build.properties
/vendor/
/classes/multilingual-plugins/easy-language/blocks/switcher/build/
/classes/multilingual-plugins/easy-language/blocks/navigation-switcher/build/
/classes/multilingual-plugins/easy-language/pagebuilder/divi/build/
/classes/multilingual-plugins/easy-language/pagebuilder/divi/package-lock.json
