parameters:
  level: 8
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - "#^Unsafe usage of new static#"
    - "#of function absint expects#"
    - "#Elementor#"
    - "#Call to an undefined method(.*)tick#"
    - "#Call to an undefined method(.*)finish#"
    - "#wp-admin/includes#"
    - "#TRP_Translate_Press#"
    - "#TRP_Machine_Translator#"
    - "#SitePress_EditLanguages#"
    - "#wpml_get_setup_instance#"
    - "#icl_cache_clear#"
    - "#ThemifyBuilder_Data_Manager#"
    - "#et_fb_prepare_ssl_link#"
    - "#et_core_is_fb_enabled#"
    - "#Breakdance#"
    - "#Avia_Builder#"
    - "#wp_safe_redirect#"
    - "#Gettext#"
    - "#WP_REST_Request#"
    - "#pll_current_language#"
    - "#WP_PLUGIN_DIR#"
    - "#ARRAY_A#"
    - "#ABSPATH#"
  paths:
    - app
    - easy-language.php
    - uninstall.php
    - inc/
  excludePaths:
  	- app/Dependencies/
  	- app/PageBuilder/Elementor/
  	- app/ThirdPartySupport/TranslatePress/TranslatePress_Capito_Machine_Translator.php
  	- app/ThirdPartySupport/TranslatePress/TranslatePress_Summ_Ai_Machine_Translator.php
  scanFiles:
    - %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
    - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-stubs.php
    - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
    - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
    - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
