.easy-language-table p {
	line-height: 1.4;
	margin: 0 0 8px
}

.easy-language-table table { margin-bottom: 1em }

.easy-language-table th { text-align: left; }

.easy-language-table .dashicons, .easy-language-table .button { color: #fff }

.easy-language-table .button:before {
	content: "\f326";
	font-family: Dashicons, sans-serif;
}

#easylanguage-simplification-dialog-progressbar.hidden {
	display: none;
}

#easylanguage-simplification-dialog-step-description {
	line-height: 1.4;
}

#easylanguage-simplification-dialog-step-description .elementor-button { color: #fff }
