.easy-language-language-options-wrap {
	.elementor-button {
		background-color: #2b87da;
		border-radius: 3px;
		color: #fff;
		display: block;
		margin: 0 0 1em;
		padding: 4px 2px;
		text-align: center;
	}
	label {
		display: block;
		margin: 0 0 1em;
		input {
			margin-right: 8px !important
		}
	}
}
