:root {
    --lwel-pro-bg: yellow;
    --lwel-pro-font: #000;
    --lwel-hint-bg: #c45602;
    --lwel-hint-font: #fff;
    --lwel-pro-hint-bg: #fca15b;
    --lwel-pro-hint-font: #000;
}

.settings_page_easy_language_settings .highlight {
    background-color: var(--lwel-hint-bg);
    color: var(--lwel-hint-font);
    padding: 12px;
}

.settings_page_easy_language_settings .highlight a {
    color: var(--lwel-hint-font);
}

.settings_page_easy_language_settings .highlight a:after {
    content: "\f504";
    display: inline-block;
    font-family: "dashicons", sans-serif;
    margin-left: 4px;
    vertical-align: middle;
}

.form-table div.easy-language-checkbox > p, .form-table .easy-language-radio > p {
    margin-left: 24px;
    margin-bottom: 4px;
}

.form-table p.easy-language-checkbox { margin-bottom: 8px }

#easy-language label {
	display: block;
	margin-bottom: 1em;
}

#easy-language table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

#easy-language table th {
    padding-right: 8px;
    text-align: left;
}

#easy-language table a {
    text-decoration: none;
}

td.easy-language .easy-language-trash { color: #b32d2e; }

td[class^="easy-language"] a, td[class^="easy-language"] span, .text-translations-table .options span, .text-translations-table .options a {
    display: inline-block;
    margin-right: 0.8em;
}

.text-translations-table .options { white-space: nowrap }

.easy-language-transient {
    position: relative;
    z-index: 1;
}

.easy-language-transient h3 img {
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
    width: 32px;
}

.easy-language-transient p { line-height: 2 }

.easy-language-transient ul {
	list-style: disc;
	margin-left: 14px;
	margin-top: 0;
}

.easy-language-translate-object span {
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
}

body .button.easy-language-settings-button {
    display: inline-block;
    margin-right: 8px;
}

body .text-translations-table #options { width: 42px; }

body .text-translations-table #used_api { width: 64px; }

body .text-translations-table #user { width: 100px }

body .text-translations-table #source_language, body .text-translations-table #target_language { width: 110px; }

.postbox-container #easy-language .alert {
    background-color: #cc1818;
    color: #fff;
    padding: 2px 8px;
}

.easy-api-radios {
	display: block;
    margin: 24px 0 0;
}

.easy-api-radio {
	margin-bottom: 12px;
}

@media only screen and (min-width: 600px) {
	.easy-api-radios {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 12px;
		grid-auto-rows: 1fr;
		margin-right: 12px;
	}
	.easy-api-radio { margin: 12px 0; }
}

.easy-api-radio h2 {
    margin-top: 0;
}

.easy-api-radio img {
    float: right;
    height: 32px;
}

.easy-api-radios input[type='radio'] { display: none }

.easy-api-radios input[type='radio'] + label {
    background-color: #dcdcde;
    border: 1px solid #c3c4c7;
    border-radius: 8px;
    display: block;
	height: 100%;
    padding: 18px 12px 8px;
    position: relative;
    z-index: 1;
}

.easy-api-radios input[type='radio'] + label > p:last-child { margin-bottom: 0 }

.easy-api-radios input[type='radio'] + label:before {
    background-color: #c45602;
    border-radius: 8px;
    color: #fff;
    content: attr(data-active-title);
    display: none;
    padding: 4px 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.easy-api-radios .easy-language-api-pro-hint input[type='radio'] + label > span.pro-hint {
	background-color: var(--lwel-pro-bg);
	border-radius: 8px;
	color: var(--lwel-pro-font);
	content: attr(data-pro-hint);
	padding: 4px 12px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	z-index: 10;
}

.easy-api-radios input[type='radio'] + label:hover {
	background-color: rgba(0,0,0,0.1);
}

.easy-api-radios input[type='radio']:checked + label, .easy-api-radios input[type='radio']:checked + label:hover {
    background-color: #fff;
}

.easy-api-radios .easy-language-api-active input[type='radio'] + label:before {
    display: inline-block;
}

.easy-api-radios :not(.easy-language-api-active) input[type='radio']:checked + label:before {
	background-color: var(--lwel-pro-hint-bg);
	display: inline-block;
	content: attr(data-choose-title);
}

.easy-language-choose-api .form-table .easy-api-radios p {
	margin-bottom: 8px;
}

.easy-language-choose-api .form-table > tr > th, .easy-language-choose-api .form-table > tbody > tr > th { display: none }

.easy-language-choose-api .form-table div table {
	border-collapse: collapse;
	margin: 0 0 16px;
}

.easy-language-choose-api .form-table div th, .easy-language-choose-api .form-table div td { padding: 0; }

.easy-language-choose-api .form-table div td { text-align: right; }

.easy-language-choose-api .form-table td {
	padding-left: 0;
	padding-top: 0;
}

.easy-language-choose-api .form-table td a.button {
	line-height: 2;
	margin-right: 8px;
	padding-top: 5px;
}

.easy-language-transient .notice-dismiss:before {
	display: inline-block;
	float: right;
}

.easy-language-transient .notice-dismiss:hover {
	color: #d63638;
}

.easy-language-pointer p img {
	display: inline-block;
	margin-right: 8px;
	width: 32px;
}

.easylanguage-simplification-dialog-no-close { z-index: 2000 !important }

#easylanguage-simplification-dialog-step-description { line-height: 1.4; }

#easylanguage-simplification-dialog-step-description li {
	font-size: 13px;
	list-style: disclosure-closed;
	margin-left: 14px;
}

.pro-marker {
	background-color: var(--lwel-pro-bg);
	border-radius: 4px;
	color: var(--lwel-pro-font);
	display: inline-block;
	padding: 0 8px;
}

.settings_page_easy_language_settings .easy-language-pro-hint {
	background-color: var(--lwel-pro-hint-bg);
	color: var(--lwel-pro-hint-font);
	padding: 12px;
}

.settings_page_easy_language_settings div.wrap > .easy-language-pro-hint {
	padding: 4px 8px;
}

.easy-language-input-text, .form-table td p.easy-language-input-text { margin-bottom: 12px }

.easy-language-input-text label {
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}

.easy-language-input-text input[type="text"] {
	width: 80%;
}

.settings_page_easy_language_settings input[type="number"] {
	width: 80px;
}

.settings_page_easy_language_settings .attachment-thumbnail {
	width: 18px !important;
	height: auto !important
}

.settings_page_easy_language_settings #options { width: 42px; }

.easy-language-icons .tablenav { display: none }

.easy-language-transient h3 {
	margin: 15px 0;
}

@media only screen and (max-width: 990px) {
	.easy-api-radios { display: block }
}

@media only screen and (min-width: 991px) and (max-width: 1800px) {
	.easy-api-radios .easy-language-api-pro-hint input[type="radio"] + label > span.pro-hint {
		bottom: -55px;
		white-space: normal;
	}
}

body.wp-easy-dialog-on-body.wp-core-ui .components-modal__frame.wp-easy-dialog:after {
	background-image: url(/wp-content/plugins/easy-language/gfx/easy-language-icon.png);
	width: 60px;
	height: 60px;
	float: right;
	content: "";
	background-size: cover;
	position: absolute;
	right: 12px;
	top: 12px;
	z-index: 100;
}

body.wp-easy-dialog-on-body.wp-core-ui .hide-header .wp-easy-dialog-text {
	padding-right: 64px;
}

body.wp-easy-dialog-on-body.wp-core-ui .components-modal__header .components-modal__header-heading {
	padding-right: 64px;
}

body.wp-easy-dialog-on-body.wp-core-ui .wp-easy-dialog .wp-progressbar:after {
	background-image: url(/wp-content/plugins/easy-language/gfx/loading.svg);
	content: "";
	display: block;
	height: 40px;
	width: 60px;
	margin: 0 auto;
	background-repeat: no-repeat;
}

.text-translations-table #used_in, .settings_page_easy_language_settings #used_in {
	width: 120px;
}

.easy-language-automatic-simplification-prevented {
	cursor: pointer;
	position: relative;
	z-index: 1
}

.easy-language-automatic-simplification-prevented:after {
	border-bottom: 2px solid red;
	content: "";
	position: absolute;
	top: 9px;
	right: -6px;
	left: 0;
	bottom: 0;
	z-index: 2;
	transform: rotate(145deg);
}

#wp-admin-bar-easy-language-simplification-process progress {
	height: 12px;
	width: 80px;
}

#wp-admin-bar-easy-language-simplification-process progress::-moz-progress-bar { background-color: var(--wp-admin-theme-color-darker-20); }
#wp-admin-bar-easy-language-simplification-process progress::-webkit-progress-value { background-color: var(--wp-admin-theme-color-darker-20); }
