name: Build release zip

on:
    push:
        tags:
            - '*'
    workflow_dispatch:

jobs:
    build:
        name: Build release zip
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup WP-CLI
              uses: godaddy-wordpress/setup-wp-cli@1

            - name: Run package installs and builds
              run: |
                  composer install
                  composer update
                  npm i
                  npm i concurrently
                  cd vendor/threadi/easy-dialog-for-wordpress/
                  npm i
                  npm run build
                  cd ../../../
                  cd vendor/threadi/easy-setup-for-wordpress/
                  npm i
                  npm run build
                  cd ../../../
                  cd vendor/threadi/react-dialog/
                  npm i
                  npm run build
                  cd ../../../
                  npm run build:switcher
                  npm run build:navigation-switcher
                  cd legacy-classes/Divi/
                  npm i
                  npm run build
                  cd ../../
                  rm -fr assets
                  rm -fr build
                  rm -fr releases
                  rm -fr languages
                  rm -fr changelog.md
                  rm -fr svn
                  rm .gitignore
                  rm .editorconfig

            - name: Generate autoloader
              run: composer dump-autoload -oa --no-dev

            - name: PHPStan check
              run: vendor/bin/phpstan analyse

            - name: PHP Compatibility check
              run: vendor/bin/phpcs -p app --standard=PHPCompatibilityWP

            - name: Run WordPress Coding Standard fixes
              run: vendor/bin/phpcbf --standard=ruleset.xml .
              continue-on-error: true

            - name: Run WordPress Coding Standard checks
              run: vendor/bin/phpcs --standard=ruleset.xml .

            - name: Set version number 1
              uses: richardrigutins/replace-in-files@v2
              with:
                  files: 'easy-language.php'
                  search-text: '@@VersionNumber@@'
                  replacement-text: ${{ github.ref_name }}

            - name: Set version number 2
              uses: richardrigutins/replace-in-files@v2
              with:
                  files: 'readme.txt'
                  search-text: '@@VersionNumber@@'
                  replacement-text: ${{ github.ref_name }}

            - name: Run PCP check
              uses: wordpress/plugin-check-action@v1
              with:
                  exclude-files:
                      .gitignore,.editorconfig,.gitkeep,build/build.properties.dist
                  exclude-directories:
                      app/Dependencies/easyTransientsForWordPress/,svn/,release/,build/
                  ignore-codes:
                      WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedConstantFound
                  include-experimental: false
                  error-severity: 7
                  warning-severity: 6
                  include-low-severity-errors: true
              continue-on-error: true

            - name: Create ZIP release
              run: |
                  cd ..
                  zip -r -q ${{ github.event.repository.name }}_${{ github.ref_name }}.zip ${{ github.event.repository.name }}/* -x "*/.git/*" "*/.github/*" "*/blocks/*/src/*" "*/doc/*" "*/phpcs.xml" "*/composer.lock" "*/package.json" "*/package-lock.json" "*/.gitignore" "*/vendor/*" "*/node_modules/*" "/.editorconfig" "*/legacy-classes/Divi/.yarn/*" "*/legacy-classes/Divi/package-lock.json" "*/legacy-classes/Divi/node_modules/*" "*/legacy-classes/Divi/.env" "*/legacy-classes/Divi/.yarnrc" "*/legacy-classes/Divi/yarn.lock" "*/legacy-classes/Divi/package.json" "*/legacy-classes/Divi/*/.gitkeep" "*/ruleset.xml"
                  zip -ur ${{ github.event.repository.name }}_${{ github.ref_name }}.zip ${{ github.event.repository.name }}/vendor/autoload.php
                  zip -ur ${{ github.event.repository.name }}_${{ github.ref_name }}.zip ${{ github.event.repository.name }}/vendor/composer/*
                  zip -ur ${{ github.event.repository.name }}_${{ github.ref_name }}.zip ${{ github.event.repository.name }}/vendor/threadi/*/build/*
                  zip -ur ${{ github.event.repository.name }}_${{ github.ref_name }}.zip ${{ github.event.repository.name }}/vendor/threadi/*/lib/*
                  cp ${{ github.event.repository.name }}_${{ github.ref_name }}.zip ${{ github.event.repository.name }}/

            - name: Create Release
              uses: softprops/action-gh-release@v2
              if: startsWith(github.ref, 'refs/tags/')
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  files: ${{ github.event.repository.name }}_${{ github.ref_name }}.zip
